@model  PagedList.IPagedList<ShopDegreyConnection.SanPham>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



    <div>

       
        <section class="banner2 bg5 p-t-55 p-b-55">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-md-8 col-lg-6 m-l-r-auto p-t-15 p-b-15">
                        <div class="hov-img-zoom pos-relative">
                            <img src="~/Asset/images/GIUA-TRAI.jpg" alt="IMG-BANNER">
                        </div>
                    </div>

                    <div class="col-sm-10 col-md-8 col-lg-6 m-l-r-auto p-t-15 p-b-15">
                        <div class="bgwhite hov-img-zoom pos-relative p-b-20per-ssm">
                            <img src="~/Asset/images/GIUA-PHAI-copy.jpg" alt="IMG-BANNER">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Content page -->
        <section class="bgwhite p-b-65">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                        <div class="leftbar p-r-20 p-r-0-sm">
                            <!--  -->
                            <h4 class="m-text14 p-b-7">
                                DANH MỤC
                            </h4>

                            <ul class="p-b-54">
                                <li>
                                    @Html.ActionLink("TẤT CẢ SẢN PHẨM", "Index", "Shop")

                                </li>
                                <li>
                                    @Html.Partial("_LoaiSanPham", Shop.Models.BUS.LoaiSanPhamBUS.DanhSach())
                                </li>
                            </ul>




                        </div>
                    </div>

                    <div class="col-sm-6 col-md-8 col-lg-9 p-b-50">
                        <!--  -->
                        <div class="flex-sb-m flex-w p-b-35">
                            <div class="flex-w">
                                <div class="rs2-select2 bo4 of-hidden w-size12 m-t-5 m-b-5 m-r-10">
                                    <select class="selection-2" name="sorting" onchange="location = this.value;">
                                        <option>Sắp Xếp</option>
                                        <option value="/Shop/Index">Mặc Định</option>
                                        <option value="/Shop/priceAscending">Giá Tăng Dần</option>
                                        <option value="/Shop/priceDescending">Giá Giảm Dần</option>
                                    </select>
                                </div>

                                <div class="rs2-select2 bo4 of-hidden w-size10 m-t-5 m-b-5 m-r-10">
                                    <select class="selection-2" name="sorting" onchange="location = this.value;">
                                        <option>Price</option>
                                        <option value="/Shop/priceFilter1">200.000VNĐ - 300.000VNĐ</option>
                                        <option value="/Shop/priceFilter2">300.000VNĐ - 350.000VNĐ</option>
                                        <option value="/Shop/priceFilter3">350.000VNĐ - 400.000VNĐ</option>
                                        <option value="/Shop/priceFilter4">400.000VNĐ - 450.000VNĐ</option>

                                    </select>
                                </div>

                            </div>


                        </div>

                        <!-- Product -->
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                string imgMainPath = "";
                                if (!string.IsNullOrEmpty(@item.Hinh))
                                {
                                    imgMainPath = "/Asset/images/" + @item.Hinh.Split(';')[0];
                                }
                                <div class="col-sm-12 col-md-6 col-lg-4 p-b-50">

                                    <!-- Block2 -->
                                    <div class="block2">

                                        <div class="block2-img wrap-pic-w of-hidden pos-relative">
                                            <a href="@Url.Action("Details", new { id = @item.MaSanPham })">

                                                <img style="max-width:350px;max-height:450px" src="@imgMainPath" />

                                            </a>

                                        </div>

                                        <div class="block2-txt p-t-20">
                                            <a href="@Url.Action("Details",new { id= @item.MaSanPham })" class="block2-name dis-block s-text3 p-b-5">
                                                @item.TenSanPham
                                            </a>
                                            <div id="masanpham">Mã sản phẩm: @item.MaSanPham</div>
                                            <span class="block2-price m-text6 p-r-5">
                                                @string.Format("{0:0,000 VNĐ}", Convert.ToDecimal(item.Gia))
                                            </span>
                                        </div>

                                    </div>

                                </div>
                            }
                        </div>

                        <!-- Pagination -->

                        <div class="pagination ">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                        </div>

                    </div>
                </div>
            </div>
        </section>


        <!-- Back to top -->
        <div class="btn-back-to-top bg0-hov" id="myBtn">
            <span class="symbol-btn-back-to-top">
                <i class="fa fa-angle-double-up" aria-hidden="true"></i>
            </span>
        </div>

        <!-- Container Selection -->
        <div id="dropDownSelect1"></div>
        <div id="dropDownSelect2"></div>

    </div>



