
@model  ShopDegreyConnection.SanPham


@*<td class="column-2" >@Model.TenSanPham</td>
    <td class="column-3" >@string.Format("{0:0,000 VNĐ}", Convert.ToDecimal(Model.Gia))</td>*@
@*<input type="hidden" name="masanpham" value="@Model.MaSanPham" />
    <input type="hidden" name="tensanpham" value="@Model.TenSanPham" />
    <input type="hidden" name="gia" value="@Model.Gia" />*@

<td class="column-2 text-center">@Model.TenSanPham</td>
<td class="column-3 text-center">@string.Format("{0:0,000 VNĐ}", Convert.ToDecimal(Model.Gia))</td>
